<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

    </head>
    <body>


        <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

        <link
        rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


        <!----------- ---------TOGGLE BUTTONS----------------------->
        <div class="row">

            <div
                class="col"><!--   -->
            </div>

            <div class="col-md-2">
                <a class="btn btn-info fa fa-archive  bg-danger" (click)="toggleArchives()"></a>
            </div>

        </div>

        <!--------------------- TODOS ------------------------------->

        <!---------------------------------------------------------------------------------------------TODOS  TABLE--------------------------------------------------------------------------------------------------------------->

        <div class="main-wrapper">

            <div class="inner-wrapper">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>TODO List
                        </h3>
                        <button type="submit" class="btn todo-button" (click) = showButton()>
                            <i class="fa fa-plus" (click) = (showButton)></i>
                            Add new TODO</button>
                    </div>
                    <div class="panel-body table-responsive">

                        <table id="example" class="table table-hover table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Date</th>
                                    <th>Description</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="todos.length > 0">
                                <tr *ngFor="let todo of todos">
                                    <td>
                                        {{todo.taskTitle | uppercase}}</td>
                                    <td>
                                        {{todo.targetDate | date : 'yyyy-MM-dd'}}</td>
                                    <td>{{todo.description | uppercase}}</td>
<!-- ---------------------------------------------------------------------------------EDIT BUTTON METHOD-------------------------------------------------------------------------------------------------------------------- -->
                                    <td>
                                        <button class=" edit-button" data-toggle="modal" data-target="#edit-todo" type="submit">
                                            <i class="fa fa-pencil-square-o"></i>
                                        </button>
                                    </td>
<!-- ---------------------------------------------------------------------------------DELETE BUTTON METHOD-------------------------------------------------------------------------------------------------------------------- -->

                                    <td>
                                        <button class=" delete-button" data-toggle="modal" data-target="#delete" type="submit">
                                            <i class="fa fa-trash-o"></i>
                                        </button>
                                    </td>
                                </tr>

                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
            <!-----------------------------------------------------      FORM ADD NEW  TODO ---------------------------------------------------->
 
            <div class="modal fade" >
                <div class="modal-dialog">


                    <div class="modal-content" *ngIf = "showButtonValue">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Add new DOTO</h4>
                        </div>
                        <div class="modal-body">
                            <form action="modal" [formGroup]="userReg" (ngSubmit)="createUser()">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                        <div class="form-group">


                                            <div class="controls">
                                                <input type="text" class="form-control" name="taskTitle" id="taskTitle" formcontrolname="taskTitle" placeholder="Title">
                                            </div>
                                        </div>
                                        <div class="form-group">


                                            <div class="controls">
                                                <input type="date" class="form-control " name="targetDate" id="targetDate" formcontrolname="targetDate" placeholder="Date">
                                            </div>
                                        </div>
                                        <div class="form-group">


                                            <div class="controls">
                                                <textarea class="form-control" name="description" id="description" formcontrolname="description" rows="3" placeholder="Description"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <div class="action-section">
                                        <button type="submit" class="btn add">Add</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>

                                </div>
                            </form>
                        </div>

                    </div>

                </div>
            </div>
            <!----------------------------------------------------- EDIT TODO ---------------------------------------------------->
            <div class="modal fade" id="edit-todo" role="dialog">

                <div class="modal-dialog">


                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Edit DOTO</h4>
                        </div>
                        <div class="modal-body">
                            <form action="#">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                        <div class="form-group">


                                            <div class="controls">
                                                <input type="text" class="form-control" id="title" placeholder="Title">
                                            </div>
                                        </div>
                                        <div class="form-group">


                                            <div class="controls">
                                                <input type="date" class="form-control" id="date" placeholder="Date">
                                            </div>
                                        </div>
                                        <div class="form-group">


                                            <div class="controls">
                                                <textarea class="form-control" id="description" rows="3" placeholder="Description"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <div class="action-section">
                                        <button type="submit" class="btn update">Update</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    </div>

                                </div>
                            </form>
                        </div>

                    </div>

                </div>
            </div>
            <!----------------------------------------------------- DELETE TODO ---------------------------------------------------->
            <div class="modal fade" id="delete" role="dialog">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Delete  TODO</h4>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete TODO?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-danger">Delete</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
        <p>hello</p>
        <p class="lead">name is sujith</p>

    </body>
</html>
