 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="row mt-2">
    <div class="div-card col-sm-6 col-sm-offset-3  "   >
         
        <form [formGroup]="userReg" (ngSubmit)="createUser()">

            <div class="form-group">
                <label for="taskTitle"></label> 
                <input type="text" name="taskTitle" id="taskTitle" class="form-control" formControlName="taskTitle" placeholder="Enter the title">
                
            </div>

            <div class="form-group">
                <label for="description"></label> 
                <input type="text" name="description" id="description" class="form-control" formControlName="description" placeholder="Enter the description">
                
            </div>

            <div class="form-group">
                <label for="targetDate"></label> 
                <input type="text" name="targetDate" id="targetDate" class="form-control" formControlName="targetDate" placeholder="Enter the date">
                  
            </div><br>
            <div>
                <button class="div-btn btn-primary" type="submit" [disabled]="!userReg.valid">{{btntxt}}</button>&nbsp;
                <button class="div-btn btn-primary" type="submit" [disabled]="!userReg.valid" (click)="resetForm()">Reset</button>

            </div>
          </form>
    </div>

</div>

<!----------- ---------TOGGLE BUTTONS----------------------->
<div class="row">

    <div class="col">
    <!--   -->
    </div>

    <div class="col-md-2">
        <a class="btn btn-info fa fa-archive  bg-danger"  (click) = "toggleArchives()" > </a>
    </div>

</div>

  <!--------------------- TODOS ------------------------------->
<div class="row ">
    <div class="col offset  ">
    <div class="col-md-6 " *ngIf = "todos.length > 0">
       <div class="card text-white bg-info" *ngFor = "let todo of todos">
         <div class="card-header">TITLE : {{todo.taskTitle | uppercase}}</div>
         <div class="card-body">
           <h5 class="card-title">DESC : {{todo.description | uppercase}}</h5>
           <p class="card-text"> DATE : {{todo.targetDate | date : 'yyyy-MM-dd'}} </p>
           <a   class="btn  btn-sm fa fa-edit" (click) = "editUser(todo)"></a>  &nbsp;
           <a  class=" btn  btn-sm fa fa-trash" (click) = "onDelete(todo)"></a>
         </div>
       </div>
     </div>
   </div>
  <!------------------------- ARCHIVE TODOS----------------------------->
   <div class="col-md-5 offset  ">
       
      <div class="col offset" *ngIf="showArchives" >
        <p class="cust-heading">ARCHIVES</p>
          <div class="col-md-9 offset" *ngIf = "archives.length > 0">
            <div class="card text-white bg-info" *ngFor = "let archive of archives">
              <div class="card-header">TITLE : {{archive.taskTitle | uppercase}}</div>
              <div class="card-body">
                <h5 class="card-title">DESC : {{archive.description | uppercase}}</h5>
                <p class="card-text"> DATE : {{archive.targetDate | date : 'yyyy-MM-dd'}} </p>                
              </div>
            </div>
          </div>
        </div>
   </div>
</div>

